// *************************************
//
//   fo3d Glyph Font
//
// *************************************

// -------------------------------------
//   Define and Setup
// -------------------------------------
$glyphfont-family	: "fo3d";
$glyphfont-prefix	: "ico-";

@include glyphfont-face(
	"fo3d",
    "fo3d",
    "../fonts/fo3d/",
    "normal",
    "normal"
);

%fontBase {
    font-family: 'fo3d';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="ico-"], [class*=" ico-"] {
	@extend %fontBase;
}

// ----- Icon Font Mixin ------------ //
@mixin glyphfont-icon( $name ) {
    &:before {
    	@extend %fontBase;
    	@extend .#{$glyphfont-prefix}#{$name};
    	@content;
    }
}
@mixin glyphfont-icon-after( $name ) {
    &:after {
        @extend %fontBase;
        @extend .#{$glyphfont-prefix}#{$name};
        @content;
    }
}


// ----- Icon Set ------------------- //
@import "icons";
