.ico-select-square:before {
  content: "\e000";
}
.ico-select-circle:before {
  content: "\e001";
}
.ico-arrow-sans-down:before {
  content: "\e002";
}
.ico-arrow-sans-up:before {
  content: "\e003";
}
.ico-arrow-sans-right:before {
  content: "\e004";
}
.ico-arrow-sans-left:before {
  content: "\e005";
}
.ico-medal-rank-star:before {
  content: "\e006";
}
.ico-download:before {
  content: "\e007";
}
.ico-book-dowload-streamline:before {
  content: "\e008";
}
.ico-gears-setting:before {
  content: "\e009";
}
.ico-grid:before {
  content: "\e00a";
}
.ico-zoom-in:before {
  content: "\e00b";
}
.ico-zoom-out:before {
  content: "\e00c";
}
.ico-tint:before {
  content: "\e00d";
}
.ico-flag:before {
  content: "\e00e";
}
.ico-bug:before {
  content: "\e00f";
}
.ico-check-mark:before {
  content: "\e010";
}
.ico-check-circle:before {
  content: "\e012";
}
.ico-check-mark-circle:before {
  content: "\e011";
}
.ico-check-mark-circle-outline:before {
  content: "\e013";
}
.ico-chevron-down:before {
  content: "\e014";
}
.ico-chevron-down-1:before {
  content: "\e015";
}
.ico-chevron-left:before {
  content: "\e016";
}
.ico-chevron-left-1:before {
  content: "\e017";
}
.ico-chevron-left-thick:before {
  content: "\e018";
}
.ico-chevron-right:before {
  content: "\e019";
}
.ico-chevron-up:before {
  content: "\e01a";
}
.ico-chevron-right-thick:before {
  content: "\e01b";
}
.ico-chevron-up-1:before {
  content: "\e01c";
}
.ico-chevron-right-1:before {
  content: "\e01d";
}
.ico-chatbubble-outline:before {
  content: "\e01e";
}
.ico-chatbubble:before {
  content: "\e01f";
}
.ico-call:before {
  content: "\e020";
}
.ico-call-phone:before {
  content: "\e021";
}
.ico-call-phone-outline:before {
  content: "\e022";
}
.ico-chat-talk-outline:before {
  content: "\e023";
}
.ico-chat-talk:before {
  content: "\e024";
}
.ico-clock:before {
  content: "\e025";
}
.ico-clock-2:before {
  content: "\e026";
}
.ico-clock-2-outline:before {
  content: "\e027";
}
.ico-clock-outline:before {
  content: "\e028";
}
.ico-clock-time:before {
  content: "\e029";
}
.ico-clock-time-outline:before {
  content: "\e02a";
}
.ico-close-circle:before {
  content: "\e02b";
}
.ico-close-circle-outline:before {
  content: "\e02c";
}
.ico-close-empty:before {
  content: "\e02d";
}
.ico-heart:before {
  content: "\e02e";
}
.ico-heart-small:before {
  content: "\e02f";
}
.ico-heart-small-outline:before {
  content: "\e030";
}
.ico-information:before {
  content: "\e031";
}
.ico-information-circle:before {
  content: "\e032";
}
.ico-information-circle-2:before {
  content: "\e033";
}
.ico-information-small-circle:before {
  content: "\e034";
}
.ico-information-small-circle-outline:before {
  content: "\e035";
}
.ico-ionic:before {
  content: "\e036";
}
.ico-ionic-outline:before {
  content: "\e037";
}
.ico-keypad:before {
  content: "\e038";
}
.ico-keypad-2:before {
  content: "\e039";
}
.ico-keypad-outline:before {
  content: "\e03a";
}
.ico-lightbulb-outline:before {
  content: "\e03b";
}
.ico-lightbulb-2:before {
  content: "\e03c";
}
.ico-lightbulb:before {
  content: "\e03d";
}
.ico-lightbulb-1:before {
  content: "\e03e";
}
.ico-link:before {
  content: "\e03f";
}
.ico-leaf:before {
  content: "\e040";
}
.ico-loop:before {
  content: "\e041";
}
.ico-log-out:before {
  content: "\e042";
}
.ico-log-out-1:before {
  content: "\e043";
}
.ico-log-in:before {
  content: "\e044";
}
.ico-more:before {
  content: "\e045";
}
.ico-more-option:before {
  content: "\e046";
}
.ico-more-2:before {
  content: "\e047";
}
.ico-more-outline:before {
  content: "\e048";
}
.ico-paper-clip:before {
  content: "\e049";
}
.ico-plus:before {
  content: "\e04a";
}
.ico-plus-add:before {
  content: "\e04b";
}
.ico-plus-add-2:before {
  content: "\e04c";
}
.ico-plus-big:before {
  content: "\e04d";
}
.ico-plus-circle:before {
  content: "\e04e";
}
.ico-plus-circle-outline:before {
  content: "\e04f";
}
.ico-plus-outline:before {
  content: "\e050";
}
.ico-question:before {
  content: "\e051";
}
.ico-question-circle:before {
  content: "\e052";
}
.ico-question-circle-1:before {
  content: "\e053";
}
.ico-question-circle-outline:before {
  content: "\e054";
}
.ico-question-small:before {
  content: "\e055";
}
.ico-refresh:before {
  content: "\e056";
}
.ico-refresh-circle:before {
  content: "\e057";
}
.ico-refresh-circle-outline:before {
  content: "\e058";
}
.ico-reload:before {
  content: "\e059";
}
.ico-remove:before {
  content: "\e05a";
}
.ico-remove-delete:before {
  content: "\e05b";
}
.ico-remove-delete-circle:before {
  content: "\e05c";
}
.ico-remove-delete-two:before {
  content: "\e05d";
}
.ico-reply:before {
  content: "\e05e";
}
.ico-reply-all:before {
  content: "\e05f";
}
.ico-resize-arrow-2:before {
  content: "\e060";
}
.ico-resize-arrow-up:before {
  content: "\e061";
}
.ico-resize-arrow-down:before {
  content: "\e062";
}
.ico-return-left:before {
  content: "\e063";
}
.ico-return-left-1:before {
  content: "\e064";
}
.ico-search:before {
  content: "\e065";
}
.ico-search-3:before {
  content: "\e066";
}
.ico-search-2:before {
  content: "\e067";
}
.ico-search-outline:before {
  content: "\e068";
}
.ico-square-upload-outline:before {
  content: "\e069";
}
.ico-square-upload:before {
  content: "\e06a";
}
.ico-star:before {
  content: "\e06b";
}
.ico-star-1:before {
  content: "\e06c";
}
.ico-star-2:before {
  content: "\e06d";
}
.ico-star-outline:before {
  content: "\e06e";
}
.ico-storage:before {
  content: "\e06f";
}
.ico-tag:before {
  content: "\e070";
}
.ico-tag-outline:before {
  content: "\e071";
}
.ico-tag-round:before {
  content: "\e072";
}
.ico-tags:before {
  content: "\e073";
}
.ico-tags-round:before {
  content: "\e074";
}
.ico-talk-chat:before {
  content: "\e075";
}
.ico-talk-chat-1:before {
  content: "\e076";
}
.ico-talk-chat-bubble:before {
  content: "\e077";
}
.ico-talk-chat-bubble-1:before {
  content: "\e078";
}
.ico-talk-chat-bubble-2:before {
  content: "\e079";
}
.ico-timer:before {
  content: "\e07a";
}
.ico-timer-clock:before {
  content: "\e07b";
}
.ico-timer-clock-outline:before {
  content: "\e07c";
}
.ico-trash-bin:before {
  content: "\e07d";
}
.ico-trash-bin-1:before {
  content: "\e07e";
}
.ico-trash-bin-2:before {
  content: "\e07f";
}
.ico-trash-bin-2-1:before {
  content: "\e080";
}
.ico-trash-bin-outline:before {
  content: "\e081";
}
.ico-undo:before {
  content: "\e082";
}
.ico-undo-outline:before {
  content: "\e083";
}
.ico-unlock:before {
  content: "\e084";
}
.ico-unlock-2:before {
  content: "\e085";
}
.ico-video-camera:before {
  content: "\e086";
}
.ico-video-camera-outline:before {
  content: "\e087";
}
.ico-waterdrop:before {
  content: "\e088";
}
.ico-wrench:before {
  content: "\e089";
}
.ico-disc-floppy-font:before {
  content: "\e08a";
}
.ico-delete-trash-1:before {
  content: "\e08b";
}
.ico-magnet:before {
  content: "\e08c";
}
.ico-resize-down:before {
  content: "\e08d";
}
.ico-rotate:before {
  content: "\e08e";
}
.ico-move:before {
  content: "\e08f";
}
.ico-grid-alt:before {
  content: "\e090";
}
.ico-home-1:before {
  content: "\e091";
}
.ico-cube:before {
  content: "\e092";
}
.ico-add:before {
  content: "\e093";
}
.ico-subtract:before {
  content: "\e094";
}
.ico-content-41:before {
  content: "\e095";
}
.ico-thumbnails:before {
  content: "\e096";
}
.ico-table:before {
  content: "\e097";
}
.ico-grid-1:before {
  content: "\e098";
}
.ico-content-1:before {
  content: "\e099";
}
.ico-image:before {
  content: "\e09a";
}
.ico-image-1:before {
  content: "\e09b";
}
.ico-minus:before {
  content: "\e09c";
}
.ico-minus-1:before {
  content: "\e09d";
}
.ico-minus-2:before {
  content: "\e09e";
}
.ico-minus-3:before {
  content: "\e09f";
}
.ico-minus-4:before {
  content: "\e0a0";
}
.ico-minus-5:before {
  content: "\e0a1";
}
.ico-agent:before {
  content: "\e0a2";
}
.ico-globe:before {
  content: "\e0a3";
}
.ico-path:before {
  content: "\e0a4";
}
.ico-paste:before {
  content: "\e0a5";
}
.ico-shopping-cart:before {
  content: "\e0a6";
}
.ico-target:before {
  content: "\e0a7";
}
.ico-caret-down:before {
  content: "\e0a8";
}
.ico-caret-left:before {
  content: "\e0a9";
}
.ico-caret-right:before {
  content: "\e0aa";
}
.ico-caret-up:before {
  content: "\e0ab";
}
.ico-mixer-2:before {
  content: "\e0ac";
}
.ico-bulb:before {
  content: "\e0ad";
}
.ico-information-1:before {
  content: "\e0ae";
}
.ico-tint-1:before {
  content: "\e0af";
}
.ico-arrows-compress:before {
  content: "\e0b0";
}
.ico-arrows-expand:before {
  content: "\e0b1";
}
.ico-arrows-out:before {
  content: "\e0b2";
}
.ico-arrows-in:before {
  content: "\e0b3";
}
.ico-compressed-zip-file:before {
  content: "\e0b4";
}
.ico-3d-cube:before {
  content: "\e0b5";
}
.ico-photo:before {
  content: "\e0b6";
}
.ico-picture:before {
  content: "\e0b7";
}
