/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'fo3d';
  src: url('../fonts/fo3d/fo3d.eot?-rdntbb');
  src: url('../fonts/fo3d/fo3d.eot?#iefix-rdntbb') format('embedded-opentype'), url('../fonts/fo3d/fo3d.woff?-rdntbb') format('woff'), url('../fonts/fo3d/fo3d.ttf?-rdntbb') format('truetype'), url('../fonts/fo3d/fo3d.svg?-rdntbb#fo3d') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

[class^="ico-"], [class*=" ico-"] {
  font-family: 'fo3d';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ico-select-square:before {
  content: "\e000"; }

.ico-select-circle:before {
  content: "\e001"; }

.ico-arrow-sans-down:before {
  content: "\e002"; }

.ico-arrow-sans-up:before {
  content: "\e003"; }

.ico-arrow-sans-right:before {
  content: "\e004"; }

.ico-arrow-sans-left:before {
  content: "\e005"; }

.ico-medal-rank-star:before {
  content: "\e006"; }

.ico-download:before {
  content: "\e007"; }

.ico-book-dowload-streamline:before {
  content: "\e008"; }

.ico-gears-setting:before {
  content: "\e009"; }

.ico-grid:before {
  content: "\e00a"; }

.ico-zoom-in:before {
  content: "\e00b"; }

.ico-zoom-out:before {
  content: "\e00c"; }

.ico-tint:before {
  content: "\e00d"; }

.ico-flag:before {
  content: "\e00e"; }

.ico-bug:before {
  content: "\e00f"; }

.ico-check-mark:before {
  content: "\e010"; }

.ico-check-circle:before {
  content: "\e012"; }

.ico-check-mark-circle:before {
  content: "\e011"; }

.ico-check-mark-circle-outline:before {
  content: "\e013"; }

.ico-chevron-down:before {
  content: "\e014"; }

.ico-chevron-down-1:before {
  content: "\e015"; }

.ico-chevron-left:before {
  content: "\e016"; }

.ico-chevron-left-1:before {
  content: "\e017"; }

.ico-chevron-left-thick:before {
  content: "\e018"; }

.ico-chevron-right:before {
  content: "\e019"; }

.ico-chevron-up:before {
  content: "\e01a"; }

.ico-chevron-right-thick:before {
  content: "\e01b"; }

.ico-chevron-up-1:before {
  content: "\e01c"; }

.ico-chevron-right-1:before {
  content: "\e01d"; }

.ico-chatbubble-outline:before {
  content: "\e01e"; }

.ico-chatbubble:before {
  content: "\e01f"; }

.ico-call:before {
  content: "\e020"; }

.ico-call-phone:before {
  content: "\e021"; }

.ico-call-phone-outline:before {
  content: "\e022"; }

.ico-chat-talk-outline:before {
  content: "\e023"; }

.ico-chat-talk:before {
  content: "\e024"; }

.ico-clock:before {
  content: "\e025"; }

.ico-clock-2:before {
  content: "\e026"; }

.ico-clock-2-outline:before {
  content: "\e027"; }

.ico-clock-outline:before {
  content: "\e028"; }

.ico-clock-time:before {
  content: "\e029"; }

.ico-clock-time-outline:before {
  content: "\e02a"; }

.ico-close-circle:before {
  content: "\e02b"; }

.ico-close-circle-outline:before {
  content: "\e02c"; }

.ico-close-empty:before {
  content: "\e02d"; }

.ico-heart:before {
  content: "\e02e"; }

.ico-heart-small:before {
  content: "\e02f"; }

.ico-heart-small-outline:before {
  content: "\e030"; }

.ico-information:before {
  content: "\e031"; }

.ico-information-circle:before {
  content: "\e032"; }

.ico-information-circle-2:before {
  content: "\e033"; }

.ico-information-small-circle:before {
  content: "\e034"; }

.ico-information-small-circle-outline:before {
  content: "\e035"; }

.ico-ionic:before {
  content: "\e036"; }

.ico-ionic-outline:before {
  content: "\e037"; }

.ico-keypad:before {
  content: "\e038"; }

.ico-keypad-2:before {
  content: "\e039"; }

.ico-keypad-outline:before {
  content: "\e03a"; }

.ico-lightbulb-outline:before {
  content: "\e03b"; }

.ico-lightbulb-2:before {
  content: "\e03c"; }

.ico-lightbulb:before {
  content: "\e03d"; }

.ico-lightbulb-1:before {
  content: "\e03e"; }

.ico-link:before {
  content: "\e03f"; }

.ico-leaf:before {
  content: "\e040"; }

.ico-loop:before {
  content: "\e041"; }

.ico-log-out:before {
  content: "\e042"; }

.ico-log-out-1:before {
  content: "\e043"; }

.ico-log-in:before {
  content: "\e044"; }

.ico-more:before {
  content: "\e045"; }

.ico-more-option:before {
  content: "\e046"; }

.ico-more-2:before {
  content: "\e047"; }

.ico-more-outline:before {
  content: "\e048"; }

.ico-paper-clip:before {
  content: "\e049"; }

.ico-plus:before {
  content: "\e04a"; }

.ico-plus-add:before {
  content: "\e04b"; }

.ico-plus-add-2:before {
  content: "\e04c"; }

.ico-plus-big:before {
  content: "\e04d"; }

.ico-plus-circle:before {
  content: "\e04e"; }

.ico-plus-circle-outline:before {
  content: "\e04f"; }

.ico-plus-outline:before {
  content: "\e050"; }

.ico-question:before {
  content: "\e051"; }

.ico-question-circle:before {
  content: "\e052"; }

.ico-question-circle-1:before {
  content: "\e053"; }

.ico-question-circle-outline:before {
  content: "\e054"; }

.ico-question-small:before {
  content: "\e055"; }

.ico-refresh:before {
  content: "\e056"; }

.ico-refresh-circle:before {
  content: "\e057"; }

.ico-refresh-circle-outline:before {
  content: "\e058"; }

.ico-reload:before {
  content: "\e059"; }

.ico-remove:before {
  content: "\e05a"; }

.ico-remove-delete:before {
  content: "\e05b"; }

.ico-remove-delete-circle:before {
  content: "\e05c"; }

.ico-remove-delete-two:before {
  content: "\e05d"; }

.ico-reply:before {
  content: "\e05e"; }

.ico-reply-all:before {
  content: "\e05f"; }

.ico-resize-arrow-2:before {
  content: "\e060"; }

.ico-resize-arrow-up:before {
  content: "\e061"; }

.ico-resize-arrow-down:before {
  content: "\e062"; }

.ico-return-left:before {
  content: "\e063"; }

.ico-return-left-1:before {
  content: "\e064"; }

.ico-search:before {
  content: "\e065"; }

.ico-search-3:before {
  content: "\e066"; }

.ico-search-2:before {
  content: "\e067"; }

.ico-search-outline:before {
  content: "\e068"; }

.ico-square-upload-outline:before {
  content: "\e069"; }

.ico-square-upload:before {
  content: "\e06a"; }

.ico-star:before {
  content: "\e06b"; }

.ico-star-1:before {
  content: "\e06c"; }

.ico-star-2:before {
  content: "\e06d"; }

.ico-star-outline:before {
  content: "\e06e"; }

.ico-storage:before {
  content: "\e06f"; }

.ico-tag:before {
  content: "\e070"; }

.ico-tag-outline:before {
  content: "\e071"; }

.ico-tag-round:before {
  content: "\e072"; }

.ico-tags:before {
  content: "\e073"; }

.ico-tags-round:before {
  content: "\e074"; }

.ico-talk-chat:before {
  content: "\e075"; }

.ico-talk-chat-1:before {
  content: "\e076"; }

.ico-talk-chat-bubble:before {
  content: "\e077"; }

.ico-talk-chat-bubble-1:before {
  content: "\e078"; }

.ico-talk-chat-bubble-2:before {
  content: "\e079"; }

.ico-timer:before {
  content: "\e07a"; }

.ico-timer-clock:before {
  content: "\e07b"; }

.ico-timer-clock-outline:before {
  content: "\e07c"; }

.ico-trash-bin:before {
  content: "\e07d"; }

.ico-trash-bin-1:before {
  content: "\e07e"; }

.ico-trash-bin-2:before {
  content: "\e07f"; }

.ico-trash-bin-2-1:before {
  content: "\e080"; }

.ico-trash-bin-outline:before {
  content: "\e081"; }

.ico-undo:before {
  content: "\e082"; }

.ico-undo-outline:before {
  content: "\e083"; }

.ico-unlock:before {
  content: "\e084"; }

.ico-unlock-2:before {
  content: "\e085"; }

.ico-video-camera:before {
  content: "\e086"; }

.ico-video-camera-outline:before {
  content: "\e087"; }

.ico-waterdrop:before {
  content: "\e088"; }

.ico-wrench:before {
  content: "\e089"; }

.ico-disc-floppy-font:before {
  content: "\e08a"; }

.ico-delete-trash-1:before {
  content: "\e08b"; }

.ico-magnet:before {
  content: "\e08c"; }

.ico-resize-down:before {
  content: "\e08d"; }

.ico-rotate:before {
  content: "\e08e"; }

.ico-move:before {
  content: "\e08f"; }

.ico-grid-alt:before {
  content: "\e090"; }

.ico-home-1:before {
  content: "\e091"; }

.ico-cube:before {
  content: "\e092"; }

.ico-add:before {
  content: "\e093"; }

.ico-subtract:before {
  content: "\e094"; }

.ico-content-41:before {
  content: "\e095"; }

.ico-thumbnails:before {
  content: "\e096"; }

.ico-table:before {
  content: "\e097"; }

.ico-grid-1:before {
  content: "\e098"; }

.ico-content-1:before {
  content: "\e099"; }

.ico-image:before {
  content: "\e09a"; }

.ico-image-1:before {
  content: "\e09b"; }

.ico-minus:before {
  content: "\e09c"; }

.ico-minus-1:before {
  content: "\e09d"; }

.ico-minus-2:before {
  content: "\e09e"; }

.ico-minus-3:before {
  content: "\e09f"; }

.ico-minus-4:before {
  content: "\e0a0"; }

.ico-minus-5:before {
  content: "\e0a1"; }

.ico-agent:before {
  content: "\e0a2"; }

.ico-globe:before {
  content: "\e0a3"; }

.ico-path:before {
  content: "\e0a4"; }

.ico-paste:before {
  content: "\e0a5"; }

.ico-shopping-cart:before {
  content: "\e0a6"; }

.ico-target:before {
  content: "\e0a7"; }

.ico-caret-down:before {
  content: "\e0a8"; }

.ico-caret-left:before {
  content: "\e0a9"; }

.ico-caret-right:before {
  content: "\e0aa"; }

.ico-caret-up:before {
  content: "\e0ab"; }

.ico-mixer-2:before {
  content: "\e0ac"; }

.ico-bulb:before {
  content: "\e0ad"; }

.ico-information-1:before {
  content: "\e0ae"; }

.ico-tint-1:before {
  content: "\e0af"; }

.ico-arrows-compress:before {
  content: "\e0b0"; }

.ico-arrows-expand:before {
  content: "\e0b1"; }

.ico-arrows-out:before {
  content: "\e0b2"; }

.ico-arrows-in:before {
  content: "\e0b3"; }

.ico-compressed-zip-file:before {
  content: "\e0b4"; }

.ico-3d-cube:before {
  content: "\e0b5"; }

.ico-photo:before {
  content: "\e0b6"; }

.ico-picture:before {
  content: "\e0b7"; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  -webkit-font-feature-settings: "kern", "liga", "frac", "pnum";
  -moz-font-feature-settings: "kern", "liga", "frac", "pnum";
  -ms-font-feature-settings: "kern", "liga", "frac", "pnum";
  font-feature-settings: "kern", "liga", "frac", "pnum";
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #477DCA;
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #2c5999;
    color: white; }
  input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

html, body {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff; }

